<div class="all-repos">
  <div
    *ngFor="
      let item of userRepo
        | paginate: { itemsPerPage: count, currentPage: currentPage }
    "
    class="repo-card"
  >
    <a href="{{ item.svn_url }}" style="text-decoration: none" target="_blank">
      <h1 class="repo-title">{{ item.name }}</h1></a
    >

    <div class="repo-description">{{ item.description }}</div>
    <div *ngFor="let topic of item.topics" class="topics" style="margin: 4px">
      {{ topic }}
    </div>
  </div>
</div>
<div class="text-right">
  <pagination-controls
    (pageChange)="currentPage = $event"
  ></pagination-controls>
</div>
